
  body {
    display: flex;
    background: #fff;
  }

main {
  width: 100%;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 40px;
}

.container-products > li {
  padding-right: 12px;
}

.main-nav{
  display: flex;
  padding: 30px 60px;
}

ul{
  padding: 0;
  list-style: none;
}

.main-nav > li{
  padding-right: 30px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.secondary-nav{
  display: flex;
  padding: 0 30px 0 30px;
  justify-content: space-between;
  
}