
  body {
    display: flex;
    background: #fff;
  }

main {
  width: 100%;
}

ul{
  padding: 0;
  list-style: none;
}

li{
  padding-right: 30px;
}

.main-nav{
  display: flex;
  padding: 30px 60px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

/* .container > li {
  flex: 1 0px;
 }

 nav#navbar > ul {
   width: 100%;
   text-align: center;
 }

nav#navbar > ul :nth-child(-n+4) {
  color: red;
}

nav#navbar > ul :nth-child(5) {
  color: blue; 
}

nav#navbar > ul :nth-child(n+6) {
  color: green; 
} */
